<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/registration.css">
    <title>Registration</title>
</head>
<body>
    <div id="nav">
        <div class="regis">
            <h3>Registration</h3>
            <p>User type</p>
            <input type="radio" name="type" id=""> Admin
            <br>
            <input type="radio" name="type" id=""> User
        </div>

        <form action="">
            <label for="user">
                Username <br> <input type="text">
            </label>
            <br>
            <label for="pass">
                Password <br> <input type="text">
            </label>
            <br>
            <label for="repass">
                Re-enter Password <br> <input type="text">
            </label>
            <br>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>