<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regis</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="container">
        <h1>Registration</h1>
        <input type="text" id="username" class="form-control mb-2" placeholder="Enter username">
        <input type="password" id="password" class="form-control mb-2" placeholder="Enter password">
        <input type="password" id="repassword" class="form-control mb-2" placeholder="Re-enter password">
        <p id="captcha" class="text-primary"></p>
        <input type="number" id="encaptcha" class="form-control mb-2" placeholder="Enter captcha">

        <button type="button" class="btn btn-primary">Register</button>
        <h2 id="check" class="text-danger my-3"></h2>
    </div>

    <script>
        const min = 1000;
        const max = 9999;
        const captcha = Math.floor(Math.random().toFixed(2) * (max - min + 1)) + min;
        document.querySelector('p[id = captcha]').innerText = 'Captcha = ' + (captcha);

        document.querySelector('button').onclick = function () {
            const username = document.querySelector('input[id=username]').value
            const password = document.querySelector('input[id=password]').value
            const repassword = document.querySelector('input[id=repassword]').value
            const encaptcha = document.querySelector('input[id=encaptcha]').value
            const output = document.querySelector('h2[id=check]');
            let check = '';
            if (username.trim() == '' || password.trim() == '' || repassword.trim() == '') {
                check = 'No username and Passwords do not match and Wrong captcha'

            } else if (password != repassword || encaptcha != captcha) {
                check = 'Passwords do not match and Wrong captcha'
            }
            else {
                check = 'Registration is complete'
            }
            output.innerHTML = check;
        }
    </script>
</body>

</html>