<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/pro.css">
  <title>Document</title>

</head>

<body>
    <div class="topnav">
      <div class="brand-container">
        <div class="brand">The case study of security information management</div>
        <div class="brand">at Mae Fah Luang University</div>
      </div>
      <div class="img_mfu"><img src="/public/img/mfu.png" style="height: 60px; width:50px ;"></div>
    </div>
  <div class="container">
    <form action="#">
      <div class="title">Login</div>
      <div class="input-box underline">
        <input type="text" placeholder="Enter Your Email" required>
        <div class="underline"></div>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Enter Your Password" required>
        <div class="underline"></div>
      </div>
      <div class="input-box button">
        <input type="submit" onclick="redirectToPro()" value="Continue">
      </div>
    </form>
      <div class="option">or Connect With Social Media</div>
      <div class="twitter">
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
          <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
        </svg> Sign in With Google</a>
      </div>
  </div>
  
  <script>
    function redirectToPro() {
      window.location.href = 'pro.html';
    }
  </script>
</body>

</html>