<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/public/css/pro.css">
</head>

<body>

  <div class="topnav">
    <div class="brand-container">
      <div class="brand">The case study of security information management</div>
      <div class="brand">at Mae Fah Luang University</div>
    </div>
    <div class="mfu"><img src="/public/img/mfu.png" style="height: 60px; width:50px ;"></div>
    <div>
      <a class="active" href="#home" onclick="changeActiveLink(this)">Home</a>
      <a href="#news" onclick="changeActiveLink(this)">Analysis</a>
      <a href="#contact" onclick="changeActiveLink(this)">History</a>
      <!-- <a href="#about" onclick="changeActiveLink(this)">About</a> -->
    </div>
  </div>

  <div id="home" class="section_home">
    <div>
      <h2>AI aids in the analysis of dubious or dangerous IP.</h2>
      <p>This tool is currently under development.</p>
      <p>Errors may occur. We apologize for this.</p>
    </div>
    <div class="container_home">
      <div class="conhome">
        <div class="dropimg"><img src="/public/img/drop.png" style="height: 170px; width: 170px;">
        </div>
        <h5>Drop file here</h5>
      </div>
    </div>
  </div>

  <div id="news" class="section">
    <h2 class="text-center">Analysis completed</h2>
    <hr>

    <table class="table table-striped">
      <thead>
          <th class="col">File name:_____</th>
      </thead>
      <tbody>
        <tr>
          <td>IP:43</td>
        </tr>

        <tr>
          <td>5555</td>
        </tr>
        
        <tr>
          <td>55</td>
        </tr>
        
        <tr>
          <td>555</td>
        </tr>
      </tbody>
  </table>
    <div>
      
    </div>

  </div>

  <div id="contact" class="section">
    <h2 class="text-center">History</h2>
    <hr>
    <table class="table table-striped table-bordered">
      <thead>
          <th class="col">Date</th>
          <th class="col">File name</th>
          <th class="col">Download</th>
      </thead>
      <tbody>
        <tr>
          <td>fgxnbdfnbgx</td>
          <td>sav;gl,rea</td>
        </tr>

        <tr>
          <td>fgxnbdfnbgx</td>
        </tr>
        
        <tr>
          <td>fgxnbdfnbgx</td>
        </tr>
        
        <tr>
          <td>fgxnbdfnbgx</td>
        </tr>
      </tbody>
  </table>
</div>
    
  </div>

  <script>
    function changeActiveLink(element) {
      var links = document.getElementsByClassName("topnav")[0].getElementsByTagName("a");
      for (var i = 0; i < links.length; i++) {
        links[i].classList.remove("active");
      }
      element.classList.add("active");
    }
  </script>

</body>

</html>