#header {
    background: url("/public/img/bg-masthead.jpg") center center;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.icon-feature {
    font-size: 4rem;
}

#feature {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.detail {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#pic1 {
    background-image: url(/public/img/bg-showcase-1.jpg);
    background-size: cover;
}

#pic2 {
    background-image: url(/public/img/bg-showcase-2.jpg);
    background-size: cover;
}

.avatar {
    max-width: 8rem;
}