#header {
    background-color: rgb(57, 57, 250);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.polaroid {
    width: 10rem;
    border-radius: 5px ;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
}

#row {
    display: flex;
    flex-direction: row;
}

.left {
    flex: 3;
}

.right {
    flex: 7;
    background-color: orange;
}

.footer {
    color: white;
    background-color: black;
    padding: 10px;
}