#row {
    display: flex;
    flex-direction: row;
}

#header {
    background-color: blue;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.avatar {
    max-width: 3rem;
}

.about {
    flex: 3;
}

.right1 {
    flex: 7;
    background-color: rgb(255, 192, 2);
}

#footer{
    background-color: rgb(36, 35, 35);
    color: white;
    padding: 1rem;
}
