body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    /* Enables smooth scrolling */
}

.topnav {
    display: flex;
    /* Use flexbox for alignment */
    justify-content: space-between;
    /* Aligns items to the ends */
    align-items: center;
    /* Centers items vertically */
    background-color: #fffefe;
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.473);
    position: fixed;
    /* Fixes the navbar at the top */
    height: 65px;
    width: 100%;
    /* Ensures the navbar spans the full width of the viewport */
    top: 0;
    /* Aligns the navbar at the top of the page */
    z-index: 1000;
    /* Ensures the navbar stays above other content */
    padding: 0px 20px 5px 20px;
    /* Adds some padding to the sides */
    flex-wrap: wrap;
    /* Allows wrapping of items in the flex container */
}



.topnav a {
    color: #000000;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #165ecc;
    color: white;
}

.navbrand {
  display: flex;
}

.brand-container {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.427);
    padding-right: 25px;
    flex-shrink: 0;
    padding-top: 10px;
}

.topnav .brand {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    
}

.topnav .sub-brand {
    font-size: 14px;
    color: #555;
}


.section_home {
    padding: 16px;
    height: 100vh;
    width: 100%;
    /* Ensures each section takes up full viewport height */
    padding-top: 120px;
    /* Adds padding to account for the fixed navbar */
}

.section {
    padding: 16px;
    height: 100vh;
    width: 100%;
    /* Ensures each section takes up full viewport height */
    padding-top: 100px;
    /* Adds padding to account for the fixed navbar */
    
}

#home {
    background-color: #f1f1f1;
    text-align: center;
}

#news {
    background-color: #e2e2e2;
    
}

#contact {
    background-color: #d3d3d3;
    
}


.container_home{
    position:absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 400px;
    background-color: #9BA3EB ;
    border-radius: 40px;
}

.conhome{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 300px;
    background-color: #fbfbfb ;
    border-radius: 40px;
}

.dropimg{
    padding-top: 50px;
}

/* Login css  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html, body{
  display: grid;
  height: 100vh;
  width: 100%;
  place-items: center;
 
}

.container{
  background: #fff;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.container form .title{
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}
.container form .title:before{
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #242F9B 0%, #646FD4 100%);
}
.container form .input-box{
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.container form .input-box input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.container form .underline::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.container form .underline::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #242F9B 0%, #646FD4 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.container form .input-box input:focus ~ .underline::after,
.container form .input-box input:valid ~ .underline::after{
  transform: scaleX(1);
  transform-origin: left;
}
.container form .button{
  margin: 40px 0 20px 0;
}
.container .input-box input[type="submit"]{
    background: linear-gradient(to right, #242F9B 0%, #646FD4 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container .input-box input[type="submit"]:hover{
  letter-spacing: 1px;
  background: linear-gradient(to right, #242F9B 0%, #646FD4 100%);
}
.container .option{
  font-size: 14px;
  text-align: center;
}
.container .twitter a{
  display: block;
  height: 45px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
  line-height: 45px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.container .twitter i{
  padding-right: 12px;
  font-size: 20px;
}
.container .twitter a{
  background: linear-gradient(to right,  #fd4203 0%, #f68223 100%);
  margin: 20px 0 15px 0;
}
.container .twitter a:hover{
  background: linear-gradient(to right,  #fd4203 0%, #f68223 100%);
  margin: 20px 0 15px 0;
}

.container .twitter{
    text-align: center;
}

@media (max-width: 768px) {
  .topnav {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding: 10px;
  }

  .brand-container {
      border-right: none;
      padding-right: 0;
  }

  .mfu {
      padding-right: 0;
      margin-top: 10px;
  }

  .navbar-links {
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  .topnav a {
      padding: 14px 16px;
      text-align: left;
  }

}