<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <div class="container mt-2 p-5">
        <h1 class="text-center">Asset Management System</h1>

        <div class="container mt-5 border border-primary rounded shadow">
            <label for="" class="mt-2">Username</label>
            <input type="text" class="form-control" id="username">
            <label for="">Password</label>
            <input type="password" class="form-control" id="password">
            <div class="row py-3 px-2">
                <button type="button" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </div>

    <!-- js -->
    <script src="/public/js/asset.js"></script>


</body>

</html>