<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset list</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="container-fluid my-3">
        <button type="button" class="border-1 rounded-2" id="signout">Sign out</button>
        <button type="button" class="border-1 rounded-2">QR code</button>
    </div>

    <div class="container-fluid">
        <h1>Asset List</h1>
        <div class=>
            <table class="border border-dark border-2 ">
                <thead>
                    <th class="col">Choose</th>
                    <th class="col">ID</th>
                    <th class="col">Name</th>
                    <th class="col">Status</th>
                </thead>

                <tbody>

                </tbody>
            </table>
        </div>
        <h1 class="mt-4">QR code</h1>
    </div>
    <script src="/public/js/list.js"></script>
</body>

</html>