<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/public/css/bs-web.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <title>bs-web</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-light bg-light px-5">
        <a href="#" class="navbar-brand">Start Bootstrap</a>
        <a href="#" class="btn btn-primary">Sign up</a>
    </nav>

    <!-- header -->
    <div class="container-fluid" id="header">
        <h1 class="text-center text-white mx-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
        <div class="row mx-3 mt-5">
            <div class="col">
                <input type="email" placeholder="Email Address" class="form-control">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

    <!-- features 3 columns -->
    <div class="container-fluid" id="feature">
        <div class="row">
            <div class="col text-center">
                <i class="bi bi-window text-primary icon-feature"></i>
                <h2>Lorem, ipsum.</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, accusamus?</p>
            </div>
            <div class="col text-center">
                <i class="bi bi-layers text-primary icon-feature"></i>
                <h2>Lorem, ipsum.</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, accusamus?</p>
            </div>
            <div class="col text-center">
                <i class="bi bi-terminal text-primary icon-feature"></i>
                <h2>Lorem, ipsum.</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, accusamus?</p>
            </div>
        </div>
    </div>

    <!-- details 2 columns -->
    <div class="container-fluid">
        <!-- row1 -->
        <div class="row">
            <div class="col ">
                <div class="detail">
                    <h2>Lorem, ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolores maxime beatae odio
                        perferendis
                        ut, error labore velit accusamus ea nihil, atque nemo aliquid dignissimos exercitationem dolor
                        ullam
                        officia corrupti?</p>
                </div>
            </div>
            <div class="col" id="pic1">

            </div>
        </div>

        <!-- row2 -->
        <div class="row">
            <div class="col" id="pic2">
            </div>
            <div class="col ">
                <div class="detail">
                    <h2>Lorem, ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolores maxime beatae odio
                        perferendis
                        ut, error labore velit accusamus ea nihil, atque nemo aliquid dignissimos exercitationem dolor
                        ullam
                        officia corrupti?</p>
                </div>
            </div>

        </div>
    </div>

    <!-- user opinions 3 columns -->
    <div class="container-fluid py-5 bg-light">
        <h2 class="mb-4 text-center">What people are saying...</h2>
        <div class="row">
            <div class="col text-center">
                <img src="/public/img/testimonials-1.jpg" alt="user1" class="rounded-circle avatar shadow">
                <h4>Lorem ipsum dolor.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="col text-center">
                <img src="/public/img/testimonials-2.jpg" alt="user1" class="rounded-circle avatar shadow">
                <h4>Lorem ipsum dolor.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="col text-center">
                <img src="/public/img/testimonials-3.jpg" alt="user1" class="rounded-circle avatar shadow">
                <h4>Lorem ipsum dolor.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
            </div>
        </div>
    </div>

    <!-- sign up -->

    <!-- footer -->

</body>

</html>