<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--internal css-->
    <!-- <style>
        h1{
            color: red;
        }
    </style> -->
    <link rel="stylesheet" href="/public/css/css-basic.css">
    <title>Document</title>
</head>

<body>
    <button id="button">OK</button>
    <!--<h1 style="color: red;">Hello world</h1>-->
    <h1 class="text-style" id="text1">Hello world</h1>
    <h1>i luv </h1>
    <h1 class="text-style">Welcome</h1>
</body>

</html>