<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/dog1.png" type="image/x-icon">
    <title>Web app</title>
</head>

<body>
    <div>
        <a href="index.html">Home</a>
        |
        <a href="input.html">Input</a>
        |
        <a href="table.html">Table</a>
    </div>
    <br>
    Hello world
    <h1>Welcome</h1>
    <h4>Welcome</h4>4
    aaaaaa <br>
    bbbbbbbbbbbbb
    <p>helloooooooooooo</p>

    <div>
        <a href="table.html">
            <img src="/public/img/dog.png" alt="dog" width="100px">
        </a>

    </div>

    <img src="/public/img/dog.png" alt="dog" width="100px">

</body>

</html>