<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/dog1.png" type="image/x-icon">
    <title>Input</title>
</head>

<body>
    <div>
        <a href="index.html">Home</a>
        |
        <a href="input.html">Input</a>
        |
        <a href="table.html">Table</a>
    </div>

    Username <input type="text" placeholder="Enter your username"> 
    <br>
    Password <input type="password">
    <br>
    Year 
    <Select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </Select>
    <br>
    Color
    <input type="checkbox" name="" id=""> red
    <input type="checkbox" name="" id=""> yellow
    <input type="checkbox" name="" id=""> green
    <br>
    Gender
    <input type="radio" name="gender" id=""> Female
    <input type="radio" name="gender" id=""> Male
    <br>
    <input type="button" value="Login">
    <button type="button">Reset</button>
</body>
</html>