<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/l.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <title>WEBPAGE</title>

</head>

<body>
    <!-- header -->
    <div class="container-fluid" id="header">
        <h1 class="text-center text-white">My Webpage made by Bootstrap5</h1>
        <p class="text-center text-white">Bootstrap is responsive and mobile-first</p>
    </div>

    <!-- navbar -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav col-auto">
                <li class="nav">
                    <a class="nav-link active navbar-brand" href="#">Our Logo</a>
                </li>
                <li class="nav-item pt-2">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item pt-2">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item pt-2">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <a href="#" class="btn btn-danger">Login</a>
        </div>
    </nav>

    <!-- left-right -->
    <div id="row">
        <div class="container py-5 mx-5 left">
            <div class="col">
                <div class="detail">
                    <h3>About</h3>
                    <h5>My photo</h5>
                    <div class="polaroid">
                        <img src="/public/img/myphoto.jpg" alt="bogbag" style="width:100%">
                        <div class="container">
                            <h5>My quote</h5>
                            <p>I'll be back!</p>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
                <br>
                <div>
                    <h3>Links</h3>
                    <a class="nav-item nav-link text-primary px-3 py-2" href="#">Link 1</a>
                    <a class="nav-item nav-link text-primary px-3 py-2" href="#">Link 2</a>
                    <a class="nav-item nav-link text-primary px-3 py-2" href="#">Link 3</a>
                </div>
                <br>
                <div>
                    <h3>My friends</h3>
                    <div>
                        <img class="rounded-circle" src="/public/img/myphoto.jpg" alt="bogbag" width="50px"
                            height="50px">
                        <img class="rounded-circle" src="/public/img/myphoto.jpg" alt="bogbag" width="50px"
                            height="50px">
                        <img class="rounded-circle" src="/public/img/myphoto.jpg" alt="bogbag" width="50px"
                            height="50px">
                    </div>
                </div>
            </div>
        </div>

        <div class="right m-5">
            <div class="container">
                <h3>MFU not romantic</h3>
                <h5>14 February 2023</h5>
                <div id="mfu1">
                    <img class="img-fluid border border-3 rounded-1" src="/public/img/pho1.webp" alt="mfu1">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <hr>
            <div class="container">
                <h3>MFU Where is true love?</h3>
                <h5>14 February 2023</h5>
                <div id="mfu2">
                    <img class="img-fluid border border-3 rounded-1" src="/public/img/pho1.webp" alt="mfu2">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="justify-content-center footer pt-4">
        <div class="text-center">
            <p>Footer</p>
        </div>
    </div>


</body>

</html>