<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>Login</title>
</head>
<body>
    <form>
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter username...">
        <label for="password">Password</label>
        <input type="text" id="password" placeholder="Enter password...">
        <input type="checkbox" id="remember">
        <label for="remember">Remember me</label>
        <button type="submit">Login</button>
    </form>
</body>
</html>