<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>

<body>
    <h1>Random = 0</h1>

    <script>
        //0.00-0.99
        // const num = Math.random();

        const min = 5;
        const max = 99;

        // let num2 = num * (max-min+1);
        // // let num2 = num*10; //0.00-9.99
        // num2 = Math.floor(num2); //0-99
        // num2 = num2 + min; //1-10
        
        num2 = Math.floor( Math.random() * (max-min+1)) + min;

        document.querySelector('h1').innerText = 'Random = ' + num2;
    </script>
</body>

</html>