<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/dog1.png" type="image/x-icon">
    <title>Table example</title>
</head>

<body>
    <div>
        <a href="index.html">Home</a>
        |
        <a href="input.html">Input</a>
        |
        <a href="table.html">Table</a>
    </div>
    
    <table>
        <tr><th>ID</th> <th>Name</th> <th>Age</th></tr>
        <tr><td>1</td> <td>Sungkan</td> <td>60</td></tr>
        <tr><td>2</td> <td>Ger</td> <td>50</td></tr>
        <tr><td>3</td> <td>Pum</td> <td>80</td></tr>
    </table>
</body>
</html>