<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/left-center.css">
    <title>Layout</title>
</head>

<body>
    <div id="row">
        <!-- nav bar -->
        <div id="navbar">
            <a href="#">Link1</a>
            <a href="#">Link2</a>
        </div>

        <!-- content -->
        <div id="content">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores deserunt quis modi sit magni, minima,
                provident nam molestiae veritatis nisi vero vitae fugiat? Quo rerum cum dicta id, temporibus, delectus
                facilis, maiores in eveniet tempora similique vero quidem recusandae quae et nisi quos sit asperiores
                corrupti harum culpa ab totam amet. Impedit voluptatum dignissimos quos ipsum distinctio est nesciunt
                dolor!</p>
        </div>
    </div>

    <!-- footer -->
    <div id="footer">
        CopyRight 2023
    </div>

</body>

</html>